# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
ExportedObj/
*.unitypackage
crashlytics-buildid.txt
.consoleapp.meta

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vs/
.vscode/
*.swp